{
  "openapi": "3.1.0",
  "info": {
    "title": "vCard QR Code Generator API",
    "version": "2026-05-21",
    "description": "Public API for AI agents and developers working with vCard contact payloads and vCard QR Code Generator product metadata."
  },
  "servers": [
    {
      "url": "https://vcardqrcodegenerator.com",
      "description": "Cloudflare Worker API"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Check API availability",
        "responses": {
          "200": {
            "description": "API is reachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "getHealthApiAlias",
        "summary": "Check API availability through the /api alias",
        "responses": {
          "200": {
            "description": "API is reachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/v1/product": {
      "get": {
        "operationId": "getProductContext",
        "summary": "Get product and integration metadata",
        "responses": {
          "200": {
            "description": "Product metadata for AI agents and developers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductContext"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product": {
      "get": {
        "operationId": "getProductContextApiAlias",
        "summary": "Get product and integration metadata through the /api alias",
        "responses": {
          "200": {
            "description": "Product metadata for AI agents and developers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductContext"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vcard": {
      "post": {
        "operationId": "createVCardPayload",
        "summary": "Create a vCard QR payload",
        "description": "Returns standard vCard text suitable for QR encoding. The free website generator keeps QR rendering client-side for privacy.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "vCard payload created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotency-Key": {
                "$ref": "#/components/headers/IdempotencyKey"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/vcard": {
      "post": {
        "operationId": "createVCardPayloadApiAlias",
        "summary": "Create a vCard QR payload through the /api alias",
        "description": "Returns standard vCard text suitable for QR encoding. Errors are always structured JSON with error.code, message, hint, docsUrl, and status.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "vCard payload created",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotency-Key": {
                "$ref": "#/components/headers/IdempotencyKey"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Structured JSON error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Route or resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit guidance for future protected endpoints",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stream": {
      "get": {
        "operationId": "streamProgress",
        "summary": "Stream API progress events",
        "description": "Returns Server-Sent Events for agent workflows that need progress feedback. Current public operations are short, so this endpoint documents the streaming contract agents can rely on for longer-running future jobs.",
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "create_vcard_payload"
            },
            "description": "Operation name to stream progress for."
          }
        ],
        "responses": {
          "200": {
            "description": "SSE progress stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "example": "event: progress\ndata: {\"step\":\"validate\",\"percent\":25}\n\n"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stream": {
      "get": {
        "operationId": "streamProgressApiAlias",
        "summary": "Stream API progress events through the /api alias",
        "responses": {
          "200": {
            "description": "SSE progress stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 255
        },
        "description": "Optional retry key. The vCard payload endpoint is deterministic and echoes this header so agents can safely correlate retries."
      }
    },
    "headers": {
      "RateLimitLimit": {
        "schema": {
          "type": "integer",
          "example": 60
        },
        "description": "Maximum number of requests in the current window."
      },
      "RateLimitRemaining": {
        "schema": {
          "type": "integer",
          "example": 59
        },
        "description": "Requests remaining in the current window."
      },
      "RateLimitReset": {
        "schema": {
          "type": "integer",
          "example": 60
        },
        "description": "Seconds until the rate-limit window resets."
      },
      "IdempotencyKey": {
        "schema": {
          "type": "string"
        },
        "description": "Echo of the request Idempotency-Key header when supplied."
      }
    },
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "service",
          "version"
        ]
      },
      "ProductContext": {
        "type": "object",
        "additionalProperties": true
      },
      "VCardRequest": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "description": "Contact display name. Required."
          },
          "organization": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "address": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "fullName"
        ]
      },
      "VCardResponse": {
        "type": "object",
        "properties": {
          "vcard": {
            "type": "string"
          },
          "qrPayload": {
            "type": "string"
          },
          "generatorUrl": {
            "type": "string",
            "format": "uri"
          },
          "privacyNote": {
            "type": "string"
          }
        },
        "required": [
          "vcard",
          "qrPayload",
          "generatorUrl",
          "privacyNote"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "hint": {
                "type": "string"
              },
              "docsUrl": {
                "type": "string",
                "format": "uri"
              },
              "status": {
                "type": "integer"
              }
            },
            "required": [
              "code",
              "message",
              "hint",
              "docsUrl",
              "status"
            ]
          }
        },
        "required": [
          "error"
        ]
      }
    }
  }
}
